*/bin
*/release
*.so
*.log
*.class
*/.ant*
target/
.project
.settings
.classpath
/.idea
/.gradle
/libgdx-contribs.iml
/postprocessing-demo/build/resources/main/data/badlogic.jpg
/postprocessing-demo/build/resources/main/data/bgnd.jpg
/postprocessing-demo/build/resources/main/data/bgnd2.jpg
/postprocessing-demo/build/resources/main/data/bgnd3.jpg
/postprocessing-demo/build/resources/main/data/bgnd4.jpg
/postprocessing-demo/build/resources/main/data/brushed.jpg
/postprocessing-demo/build/resources/main/data/brushed.png
/postprocessing-demo/build/resources/main/data/gradient-mapping.png
/postprocessing-demo/build/resources/main/data/skin/default.fnt
/postprocessing-demo/build/resources/main/data/skin/default.png
/postprocessing-demo/build/resources/main/data/skin/pack.json
/postprocessing-demo/build/resources/main/data/skin/sans13.fnt
/postprocessing-demo/build/resources/main/data/skin/sans13.png
/postprocessing-demo/build/resources/main/data/skin/uiskin.atlas
/postprocessing-demo/build/resources/main/data/skin/uiskin.json
/postprocessing-demo/build/resources/main/data/skin/uiskin.png
/postprocessing-demo/build/resources/main/data/skin/white.png
/postprocessing-demo/postprocessing-demo.iml
/postprocessing/build/libs/postprocessing-1.0.jar
/postprocessing/build/resources/main/shaders/blur.fragment
/postprocessing/build/resources/main/shaders/blur.vertex
/postprocessing/build/resources/main/shaders/camerablur.fragment
/postprocessing/build/resources/main/shaders/combine.fragment
/postprocessing/build/resources/main/shaders/convolve-1d.fragment
/postprocessing/build/resources/main/shaders/copy.fragment
/postprocessing/build/resources/main/shaders/crt-screen.fragment
/postprocessing/build/resources/main/shaders/fxaa.fragment
/postprocessing/build/resources/main/shaders/radial-blur.fragment
/postprocessing/build/resources/main/shaders/radial-blur.vertex
/postprocessing/build/resources/main/shaders/radial-distortion.fragment
/postprocessing/build/resources/main/shaders/screenspace.vertex
/postprocessing/build/resources/main/shaders/threshold.fragment
/postprocessing/build/resources/main/shaders/vignetting.fragment
/postprocessing/build/resources/main/shaders/zoom.fragment
/postprocessing/build/resources/main/shaders/zoom.vertex
/postprocessing/build/tmp/jar/MANIFEST.MF
/postprocessing/postprocessing.iml
/utils/build/libs/utils-1.0.jar
/utils/build/tmp/jar/MANIFEST.MF
/utils/utils.iml
